BODY{
    margin:0;
    padding:0;
}

#center{
    position:absolute;
    z-index:5;
    width:500px;
    height:300px;
    margin:0;
    margin-left:-250px;
    left:50%;
    margin-top:-150px;
    top:50%;
    border-radius:20px;
    background:#FFFFFF;
    border: 3px solid #2A120A;
    text-align: center;
    
}

.txtarea, .slcarea{
    width:80%;
    height:30px;
    border:0;
    border-bottom: 2px solid #2A120A;
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    margin-top:10px;
    text-align: center;
}

#btnLogin{
    width:80%;
    height:30px;
    margin-top:15px;
    background:#2A120A;
    border:1px solid #5F4C0B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
    color:white;
    font-weight:800;
}

.kaique_info{
    font-size:12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



