body{
    margin:0;
    padding:0;
}

#top{
    position:absolute;
    z-index:2;
    width:100%;
    height:auto;
    border:none;
    box-shadow: 3px 0 5px #2A120A;
    display: inline;
}

ul{
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
    height:100%;
}

#top li{
    display:inline;
}

img{
    height:50px;
    width:auto;
}

#top .libtn{
    display:inline;
    height:100%;
    border-left:2px solid black;
    border-right:2px solid black;
    margin-bottom:10px;
    cursor:pointer;
}

#lista_clientes{
    position:absolute;
    z-index:5;
    width:800px;
    height:500px;
    margin:0;
    margin-left:-400px;
    left:50%;
    margin-top:-250px;
    top:50%;
    border-radius:20px;
    background:#FFFFFF;
    border: 3px solid #2A120A;
    text-align: center;
    overflow: hidden;
}

#formulario_cad{
    position:absolute;
    z-index:5;
    width:600px;
    height:500px;
    margin:0;
    margin-left:-300px;
    left:50%;
    margin-top:-255px;
    top:50%;
    border-radius:20px;
    background:#FFFFFF;
    border: 3px solid #2A120A;
    text-align: center;
}

#formulario_cad input{
    width:70%;
    margin-top:10px;
    border:none;
    border-bottom: 2px solid #2A120A;
    height:25px;
    font-size:18px;
    text-align: center;;
}

#formulario_cad .form_label{
    font-size:18px;
    font-weight:700;
    color:#2A120A;
}

#formulario_cad #btn_submit{
    width:80%;
    height:30px;
    margin-top:15px;
    background:#2A120A;
    border:1px solid #5F4C0B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
    color:white;
    font-weight:800;

}

.cli_item{
    width:100%;
    border:none;
    border-top:1px solid #848484;
    border-bottom:2px solid #848484;
    margin-top:3px;
    height:40px;
    cursor:default;
}

.cli_item:hover{
    background-color: #F8E0E0;
}

.cliente_token{
    width:100%;
    margin-top:55px;
    text-align: center;
    font-size:14px;
    font-family: 'Courier New', Courier, monospace;
}

.cliente_content{
    width:100%;
    margin-top:15px;
    text-align: center;
    font-size:22px;
    color:#2A120A;
}

.cliente_label{
    width:100%;
    margin-top:1px;
    text-align: center;
    font-size:16px;
    border-bottom:1px solid #E6E6E6;
}

.cliente_botoes{
    margin-top:35px;
    text-align: center;
}

.cliente_botoes input{
    width:100px;
    height:35px;
    font-size:20px;
    font-weight:800;
    margin-left:30px;
    margin-right:30px;
}

#btn_editar{
    background:#58ACFA;
}

#btn_fechar{
    background:#E6E6E6;
}

#btn_salvar{
    background: #298A08;
}

#btn_excluir{
    background: #B40404;
}

.edtTxt{
    width:98%;
    text-align: center;
    border:none;
    border-bottom:2px solid #2A120A;
    font-size:20px;
}

#txtOcult{
    display:none;
}